<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Vue CDN DEMO</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="style.css" rel="stylesheet" />
</head>

<body>
    <h1>Fetch请求</h1>
    <div id="vue-app">
        <!-- post請求 -->
        <form @submit.prevent="onSubmit">
            <input type="text" v-model="todo.title" />
            <input type="checkbox" v-model="todo.completed" />
            <input type="submit" value="提交" />
        </form>

        <!-- get请求 -->
        <ul>
            <li v-for="todo in todos">
                <h2>{{todo.title}}</h2>
                <p v-if="todo.completed">{{todo.completed}}</p>
            </li>
        </ul>
    </div>
</body>
<script src="app.js"></script>

</html>